/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
node_modules/
dist/
.idea
stats.json
*/.idea
.vscode
*/.vscode
.eslintcache
.stylelintcache
/*error.txt
/*-debug.log
/*-error.log